* {
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  width: 100%;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  height: 400px;
  width: 300px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 10px 0px 10px;
}
.imgHolder {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}

.imgHolder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.nameHolder {
  margin-top: 30px;
  font-size: 30px;
  font-family: Arial;
  font-weight: 700;
}
.bioHolder {
  margin-top: 12px;
  font-size: 13px;
  color: black;
  font-family: "Arial Narrow Bold";
  width: 90%;
  text-align: justify;
}
.stackHolder {
  margin-top: 12px;
  font-size: 13px;
  font-weight: 600;
  font-family: sans-serif;
  width: 90%;
  text-align: center;
  color: blue;
}
